body {
    margin: 0;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid;
    text-align: center;
    padding: 5px;
  }

tr:hover {background-color: coral;}